* {
    box-sizing: border-box;
}

.bg-img {
    background-image: url('./assets/pexels-scott-webb-1029604.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: auto;
    height: 100%;
   }

   .margin {
    margin-bottom: 35%;
   }

br {
       position: absolute;
       bottom: 100%;

   }
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: black;
    text-align: center;
   }