* {
    box-sizing: border-box;
}

/* Background Picture Styling */
.bg-img {
    background-image: url('../images/pexels-scott-webb-1029604.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: auto;
    height: 100%;
   }

/* Container Styling */.margin {
    margin-bottom: 35%;
   }

/* Sticky Footer Styling */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: black;
    text-align: center;
   }